::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    